<div class="page-preview">
  <div class="preview-content">
    <ng-container *ngFor="let block of content.blocks">
      <!-- Layout Section -->
      <div *ngIf="isLayoutSection(block)" class="preview-block layout-section" [style.--columns]="block.columns" [style.--gap]="block.columnGap + 'px'">
        <div class="layout-grid">
          <ng-container *ngFor="let layoutBlock of getLayoutBlocks(block)">
            <!-- Slider Block -->
            <div *ngIf="isSliderBlock(layoutBlock)" class="preview-block slider-block">
              <nz-carousel [nzAutoPlay]="true">
                <div nz-carousel-content *ngFor="let image of layoutBlock.images">
                  <img [src]="image.url" [alt]="image.title">
                  <div class="caption" *ngIf="image.title || image.description">
                    <h3 *ngIf="image.title">{{image.title}}</h3>
                    <p *ngIf="image.description">{{image.description}}</p>
                  </div>
                </div>
              </nz-carousel>
            </div>

            <!-- Paragraph Block -->
            <div *ngIf="isParagraphBlock(layoutBlock)" class="preview-block paragraph-block">
              <h2 *ngIf="layoutBlock.title">{{layoutBlock.title}}</h2>
              <div class="content" [innerHTML]="layoutBlock.content"></div>
            </div>

            <!-- List Block -->
            <div *ngIf="isListBlock(layoutBlock)" class="preview-block list-block">
              <ul [class]="layoutBlock.style">
                <li *ngFor="let item of layoutBlock.items">
                  <i *ngIf="layoutBlock.style === 'icon' && item.icon" nz-icon [nzType]="item.icon"></i>
                  <div class="item-content">
                    <h4>{{item.title}}</h4>
                    <p *ngIf="item.description">{{item.description}}</p>
                  </div>
                </li>
              </ul>
            </div>

            <!-- Image List Block -->
            <div *ngIf="isImageListBlock(layoutBlock)" class="preview-block image-list-block">
              <div class="image-grid" [class.carousel]="layoutBlock.layout === 'carousel'" [style.--columns]="layoutBlock.columns">
                <div *ngFor="let item of layoutBlock.items" class="image-item">
                  <img [src]="item.image" [alt]="item.title">
                  <div class="caption" *ngIf="item.title || item.description">
                    <h4 *ngIf="item.title">{{item.title}}</h4>
                    <p *ngIf="item.description">{{item.description}}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Video Block -->
            <div *ngIf="isVideoBlock(layoutBlock)" class="preview-block video-block">
              <h3 *ngIf="layoutBlock.title">{{layoutBlock.title}}</h3>
              <p *ngIf="layoutBlock.description">{{layoutBlock.description}}</p>
              <div class="video-container">
                <video *ngIf="!layoutBlock.url.includes('youtube.com') && !layoutBlock.url.includes('vimeo.com')"
                       [src]="layoutBlock.url"
                       [poster]="layoutBlock.poster"
                       [controls]="layoutBlock.controls"
                       [autoplay]="layoutBlock.autoplay">
                </video>
                <iframe *ngIf="layoutBlock.url.includes('youtube.com')"
                        [src]="layoutBlock.url | safe:'resourceUrl'"
                        frameborder="0"
                        allowfullscreen>
                </iframe>
                <iframe *ngIf="layoutBlock.url.includes('vimeo.com')"
                        [src]="layoutBlock.url | safe:'resourceUrl'"
                        frameborder="0"
                        allowfullscreen>
                </iframe>
              </div>
            </div>

            <!-- Gallery Block -->
            <div *ngIf="isGalleryBlock(layoutBlock)" class="preview-block gallery-block">
              <div class="gallery-grid"
                   [class]="layoutBlock.layout + '-layout'"
                   [style.--columns]="layoutBlock.columns"
                   [style.--spacing]="layoutBlock.spacing + 'px'">
                <div *ngFor="let image of layoutBlock.images" class="gallery-item">
                  <img [src]="image.url" [alt]="image.title">
                  <div class="caption" *ngIf="image.title || image.description">
                    <h4 *ngIf="image.title">{{image.title}}</h4>
                    <p *ngIf="image.description">{{image.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Regular Blocks -->
      <!-- Slider Block -->
      <div *ngIf="isSliderBlock(block)" class="preview-block slider-block">
        <nz-carousel [nzAutoPlay]="true">
          <div nz-carousel-content *ngFor="let image of block.images">
            <img [src]="image.url" [alt]="image.title">
            <div class="caption" *ngIf="image.title || image.description">
              <h3 *ngIf="image.title">{{image.title}}</h3>
              <p *ngIf="image.description">{{image.description}}</p>
            </div>
          </div>
        </nz-carousel>
      </div>

      <!-- Paragraph Block -->
      <div *ngIf="isParagraphBlock(block)" class="preview-block paragraph-block">
        <h2 *ngIf="block.title">{{block.title}}</h2>
        <div class="content" [innerHTML]="block.content"></div>
      </div>

      <!-- List Block -->
      <div *ngIf="isListBlock(block)" class="preview-block list-block">
        <ul [class]="block.style">
          <li *ngFor="let item of block.items">
            <i *ngIf="block.style === 'icon' && item.icon" nz-icon [nzType]="item.icon"></i>
            <div class="item-content">
              <h4>{{item.title}}</h4>
              <p *ngIf="item.description">{{item.description}}</p>
            </div>
          </li>
        </ul>
      </div>

      <!-- Image List Block -->
      <div *ngIf="isImageListBlock(block)" class="preview-block image-list-block">
        <div class="image-grid" [class.carousel]="block.layout === 'carousel'" [style.--columns]="block.columns">
          <div *ngFor="let item of block.items" class="image-item">
            <img [src]="item.image" [alt]="item.title">
            <div class="caption" *ngIf="item.title || item.description">
              <h4 *ngIf="item.title">{{item.title}}</h4>
              <p *ngIf="item.description">{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Video Block -->
      <div *ngIf="isVideoBlock(block)" class="preview-block video-block">
        <h3 *ngIf="block.title">{{block.title}}</h3>
        <p *ngIf="block.description">{{block.description}}</p>
        <div class="video-container">
          <video *ngIf="!block.url.includes('youtube.com') && !block.url.includes('vimeo.com')"
                 [src]="block.url"
                 [poster]="block.poster"
                 [controls]="block.controls"
                 [autoplay]="block.autoplay">
          </video>
          <iframe *ngIf="block.url.includes('youtube.com')"
                  [src]="block.url | safe:'resourceUrl'"
                  frameborder="0"
                  allowfullscreen>
          </iframe>
          <iframe *ngIf="block.url.includes('vimeo.com')"
                  [src]="block.url | safe:'resourceUrl'"
                  frameborder="0"
                  allowfullscreen>
          </iframe>
        </div>
      </div>

      <!-- Gallery Block -->
      <div *ngIf="isGalleryBlock(block)" class="preview-block gallery-block">
        <div class="gallery-grid"
             [class]="block.layout + '-layout'"
             [style.--columns]="block.columns"
             [style.--spacing]="block.spacing + 'px'">
          <div *ngFor="let image of block.images" class="gallery-item">
            <img [src]="image.url" [alt]="image.title">
            <div class="caption" *ngIf="image.title || image.description">
              <h4 *ngIf="image.title">{{image.title}}</h4>
              <p *ngIf="image.description">{{image.description}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Image Box Block -->
      <div *ngIf="isImageBoxBlock(block)" class="preview-block image-box-block">
        <div class="image-box" [class]="'layout-' + block.layout" [style.backgroundColor]="block.backgroundColor" [style.color]="block.textColor" [style.padding.px]="block.padding">
          <div class="image-wrapper" [class.rounded]="block.imageRounded" [class.shadow]="block.imageShadow">
            <img [src]="block.image.url" [alt]="block.image.alt" [style.width.px]="block.image.width" [style.height.px]="block.image.height">
          </div>
          <div class="content" [style.marginLeft.px]="block.layout === 'right' ? block.spacing : null" [style.marginRight.px]="block.layout === 'left' ? block.spacing : null" [style.marginTop.px]="block.layout === 'bottom' ? block.spacing : null" [style.marginBottom.px]="block.layout === 'top' ? block.spacing : null">
            <ng-container [ngSwitch]="block.titleTag">
              <h2 *ngSwitchCase="'h2'">{{block.title}}</h2>
              <h3 *ngSwitchCase="'h3'">{{block.title}}</h3>
              <h4 *ngSwitchCase="'h4'">{{block.title}}</h4>
              <h5 *ngSwitchCase="'h5'">{{block.title}}</h5>
              <h6 *ngSwitchCase="'h6'">{{block.title}}</h6>
            </ng-container>
            <p>{{block.description}}</p>
          </div>
        </div>
      </div>

      <!-- Heading Block -->
      <div *ngIf="isHeadingBlock(block)" class="preview-block heading-block">
        <ng-container [ngSwitch]="block.level">
          <h1 *ngSwitchCase="'h1'" [style.color]="block.color" [style.fontSize.px]="block.fontSize" [style.textAlign]="block.alignment">{{block.content}}</h1>
          <h2 *ngSwitchCase="'h2'" [style.color]="block.color" [style.fontSize.px]="block.fontSize" [style.textAlign]="block.alignment">{{block.content}}</h2>
          <h3 *ngSwitchCase="'h3'" [style.color]="block.color" [style.fontSize.px]="block.fontSize" [style.textAlign]="block.alignment">{{block.content}}</h3>
          <h4 *ngSwitchCase="'h4'" [style.color]="block.color" [style.fontSize.px]="block.fontSize" [style.textAlign]="block.alignment">{{block.content}}</h4>
          <h5 *ngSwitchCase="'h5'" [style.color]="block.color" [style.fontSize.px]="block.fontSize" [style.textAlign]="block.alignment">{{block.content}}</h5>
          <h6 *ngSwitchCase="'h6'" [style.color]="block.color" [style.fontSize.px]="block.fontSize" [style.textAlign]="block.alignment">{{block.content}}</h6>
        </ng-container>
      </div>

      <!-- Button Block -->
      <div *ngIf="isButtonBlock(block)" class="preview-block button-block" [style.textAlign]="block.alignment">
        <a [href]="block.url"
           [target]="block.target"
           nz-button
           [nzType]="block.style"
           [nzSize]="block.size"
           [nzBlock]="block.fullWidth">
          {{block.text}}
        </a>
      </div>
    </ng-container>
  </div>
</div>
