.footer {
  background-color: #003c74;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
